<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger - %msg%n
            </Pattern>
        </layout>
    </appender>

<!--    <logger name="ClientServiceApplication">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <root name="ClientServiceApplication">
        <appender-ref ref="CONSOLE"/>
    </root>

</Configuration>